* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  height: max-content;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 8px;
}

header > h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.8rem;
  color: #ffffff;
}

#location-input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 360px;
}

#location-input-container > label {
  font-size: 1.2rem;
  color: #333;
}

#location-input {
  font-size: 1rem;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 6px 0;
  outline: none;
}

#location-input:focus {
  border-color: #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}

#get-weather-btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  margin-left: auto; /* Push this element to the right */
}

#get-weather-btn:hover {
  background-color: #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#get-weather-btn:active {
  background-color: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Take up remaining vertical space of the page */
}

main h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 4px;
}

main h3 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  margin: 4px;
}

h3 > span {
  font-weight: 400;
}

#today-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Scroll bar */
.scrolling-bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  width: clamp(200px, 80vw, 800px);
  max-width: max-content;
  height: max-content;
  overflow-x: scroll;
  background-color: rgba(255, 255, 255, 0.24);
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.scrolling-bar > .hour-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.scrolling-bar > .hour-container:hover {
  transform: scale(1.05);
}

.scrolling-bar > .hour-container > .info-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 0.9em;
  align-items: center;
}

.scrolling-bar > .hour-container > img {
  min-width: 100px;
  width: 100px;
  min-height: 100px;
  height: 100px;
  object-fit: contain;
}

/* Image carousel styles */
#today-weather > .image-carousel-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#today-weather > .image-carousel-container > .image-carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#today-weather
  > .image-carousel-container
  > .image-carousel-content-wrapper
  > .image-carousel-content {
  position: relative; /* For re-positioning images */
  display: flex;
  align-items: center;
  transition: transform 0.3s ease; /* Smooth transition for carousel sliding */
}

#today-weather
  > .image-carousel-container
  > .image-carousel-content-wrapper
  > .image-carousel-content
  > .image-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
}

#today-weather
  > .image-carousel-container
  > .image-carousel-content-wrapper
  > .image-carousel-content
  > .image-container
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  padding: 16px;
}

/* Carousel navigation buttons */
#today-weather > .image-carousel-container > .left-btn,
#today-weather > .image-carousel-container > .right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 173, 173, 0.8);
  color: white;
  font-size: 1.2rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 2;
  line-height: 1;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#today-weather > .image-carousel-container > .left-btn {
  padding-right: 2px; /* Centers text */
  left: -60px;
}

#today-weather > .image-carousel-container > .right-btn {
  padding-left: 2px; /* Centers text */
  right: -60px;
}

#today-weather > .image-carousel-container > .left-btn:hover,
#today-weather > .image-carousel-container > .right-btn:hover {
  background-color: rgb(0, 150, 150);
}

/* Footer styles */
footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.397);
  text-align: center;
  padding: 12px;
}

footer a {
  color: black;
}
