* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Font family */
}

body {
  background-color: #ffffff;
}

body > .container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; /* Text color */
  padding: 10px; /* Padding around content */
  text-transform: uppercase; /* Uppercase text */
}

header > #location-input-container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > #loadingModal > .modal-content {
  visibility: hidden;
}

main > #today-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#today-weather > .weather-img-container {
  width: 200px;
  height: 200px;
}

#today-weather > .weather-img-container > img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: wheat;
  text-align: center;
}

/* ############################################ */

.scrolling-bar {
  display: flex;
  align-items: end;
  width: max(800px, 200px);
  height: 130px;
  overflow-x: scroll;
}

.scrolling-bar .square {
  width: 100px;
  height: 100px;
  flex: 0 0 auto;
  margin-right: 10px; /* Adjust spacing between squares */
}

/* ############################################ */

/* Image carousel styles */
#today-weather > .image-carousel-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px 0;
}
#today-weather > .image-carousel-container > .image-carousel-content-wrapper {
  overflow: hidden;
}
#today-weather
  > .image-carousel-container
  > .image-carousel-content-wrapper
  > .image-carousel-content {
  position: relative; /* For re-positioning images */
  display: flex;
  align-items: center;
}
#today-weather
  > .image-carousel-container
  > .image-carousel-content-wrapper
  > .image-carousel-content
  > .image-container {
  flex: 0 0 auto;
}
#today-weather
  > .image-carousel-container
  > .image-carousel-content-wrapper
  > .image-carousel-content
  > .image-container
  > img {
  /* border-style: solid; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#today-weather > .image-carousel-container > .left-btn,
#today-weather > .image-carousel-container > .right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: aqua;
  color: black;
  font-size: 1.2rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 2;
  line-height: 1;
  cursor: pointer;
}
#today-weather > .image-carousel-container > .left-btn {
  padding-right: 2px;
  left: -20px;
}
#today-weather > .image-carousel-container > .right-btn {
  padding-left: 2px;
  right: -20px;
}
#today-weather > .image-carousel-container > .left-btn:hover,
#today-weather > .image-carousel-container > .right-btn:hover {
  background-color: rgb(0, 173, 173);
}
